@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

.homepage {
    height: 100vh;
    background: #116CFF;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 42px;
}

.menu {
    display: flex;
    gap: 92px;
}

.menutestimony {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.menuitem {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.botaologin {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #116CFF;
    border: none;
    width: 104px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 10px;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
}

.texto {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
}

.conteudo {
    width: 522px;
    margin-right: 12px;
}