@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Primeira pagina (homepage)*/

#homepage {
    height: 100vh;
    background: #116CFF;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 42px;
}

.menu {
    display: flex;
    gap: 92px;
}

.menutestimony {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.menuitem {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.botaologin {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #116CFF;
    border: none;
    width: 104px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 10px;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulohomepage {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
}

.textohomepage {
    width: 403px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
}

.conteudohomepage {
    width: 522px;
    margin-right: 12px;
}

.imghome{
    padding-top: 62px;
}

.botaobook {
    width: 200px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-right: 38px;
    color: #116CFF;
}

.botaolearn {
    width: 200px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #116CFF;
}

/*Segunda pagina (pagina2)*/

#pag2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00235C;
}

.titulopag2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.textopag2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    width: 561px;
    height: 160px;
}

.escritaspag2 {
    width: 630px;
}

/*Terceira pagina (pagina3)*/

.pag3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #116CFF;
    color: #FFFFFF;
}

.titulopag3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.textopag3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    width: 526px;
    height: 120px;
    color: #FFFFFF;
}

.escritaspag3 {
    width: 570px;
    margin-right: 38px;
}

/*Quarta pagina (pagina4)*/

/*Container principal utilizado para o alinhamento central dos elementos*/
#pag4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FFFFFF;
}

/*Containeir da esquerda com posição relativa para a implementação do titulo que irá sobrepor o mesmo espaço*/
.containeresquerda {
    position: relative;
}

/*Classe utilizada para o alinhamento das imagens e o espaçamento entre os balões*/
.row {
    display: flex;
    flex-direction: row;
    margin-right: 74.34px;
    margin-top: 22px;
}

/*Posição absoluta para a implementação dentro do container da esquerda que tem a posição relativa*/
.titulopag4 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #116CFF;

    margin-top: -60px;
    margin-left: 35.93px;
}

/*Dimensões das imagens das crianças*/
.img {
    width: 65.45px;
    height: 64.1px;
    margin-right: 30.27px;
    margin-left: 35.93px;
}

/*Dimensão do conteudo dentro do balão*/
.conteudo {
    width: 392px;
    margin-left: 24px;
    margin-top: 8px;
}

.nome {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #00235C;
}

.textopag4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25.41px;
    width: 392px;
    color: #00235C;
}

/*Span para as aspas e a letra A do segundo balao*/
span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FF463A;
}

/*Balões*/
.balao {
    position: relative;
    width: 440px;
    height: 187px;
    border-radius: 20px;
    background: #FFE6E5;
}

/*Balõess azuis*/
.azul {
    background: #E7F0FF;
}

/*Seta dos balões*/
.balao::after {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    border-top: 8.7px solid transparent;
    border-bottom: 8.7px solid transparent;
    color: #FFE6E5;
}

/*Seta dos balões azuis*/
.azul::after {
    color: #E7F0FF;
}

/*Setas apontadas para a esquerda*/
.containeresquerda .balao::after {
    left: -20.66px;
    border-right: 20.66px solid;
}

/*Setas apontadas para a direita*/
.containerdireita .balao::after {
    left: 439.66px;
    border-left: 20.66px solid;
}

/*Quinta pagina (pagina5)*/

/*Sexta pagina (pagina6)*/

#pag6 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

fieldset {
    border: 0;
}

.containerpag6 {
    display: flex;
    margin-top: 4px;
}

.cima {
    height: 94px;
}

.baixo {
    height: 59px;
    margin-top: 88px;
}

.titulopag6{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    width: 411px;
    color: #00235C;
    margin-top: 60px;
    margin-right: 38px;
    margin-left: 28px;
    text-align: center;
}

.campo label{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #00235C;
}

.campo input {
    width: 394px;
    height: 52px;
    border: 1px solid #BCD6FF;
    box-sizing: border-box;
    border-radius: 10px;
}

fieldset .campo {
    margin-top: 35px;
}

.email {
    margin-right: 101px;
}

.parents {
    margin-right: 35px;
}

.kidname {
    margin-right: 60px;
}

.class {
    margin-right: 100px;
}

.botpag6 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

    width: 200px;
    height: 52px;
    background: #116CFF;
    border-radius: 10px;
    border: none;
    margin-top: 48px;
    margin-left: 346px;
}

.circulo {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    border: 2px solid #FF463A;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 1185px;
}

.headset {
    position: absolute;
    width: 24px;
    height: 24px;
}

.bothead {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    position: absolute;
    width: 139px;
    height: 30px;
    background: #FF463A;
    border: 2px solid #FF463A;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 71px;
}

/*Footer*/

.rodapetopo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #116CFF;
}

.rodapetext {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-top: 30px;
    color: #FFFFFF;
}

.rodapefundo {
    position: absolute;
}

.rodapelogo {
    margin-top: 44px;
    border: 1px solid #FFFFFF;
}

.rodapeicons {
    margin-top: 30px;
}

.imgiconrod {
    margin-right: 36px;
}

.fot {
    display: flex;
    align-items: center;
    background: #00235C;
    height: 363px;
}

.rodapecont {
    margin-left: 100px;
    width: 377px;
    margin-right: 164px;
}