@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/*Reset dos padroes apricados pelo navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*----------Primeira pagina (homepage)-----------*/

/*Section*/
#homepage {
    height: 100vh;
    background: #116CFF;
}

/*Cabeçalho da homepage com a tag nav e o botao de login*/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 42px;
}

/*Distanciamento das escritas da tag nav*/
.menu {
    display: flex;
    gap: 92px;
}

/*Estilo da escrita testimony no menu*/
.menutestimony {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}
/*Estilo das outras escritas do menu*/
.menuitem {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

/*Estilo do botao login*/
.botaologin {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #116CFF;
    border: none;
    width: 104px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 10px;
}

/*Container que abrange a parte da esquerda*/
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilo do titulo da homepag*/
.titulohomepage {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
}

/*Estilo do texto da homepage*/
.textohomepage {
    width: 403px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
}

/*Largura e margem do conteudo do container1*/
.conteudohomepage {
    width: 522px;
    margin-right: 12px;
}

/*Estilo da imagem da homepage*/
.imghome{
    padding-top: 62px;
}

/*Estilo do botao book a class*/
.botaobook {
    width: 200px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-right: 38px;
    color: #116CFF;
}

/*Estilo do botao learn more*/
.botaolearn {
    width: 200px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #116CFF;
}

/*--------Segunda pagina (pagina2)---------*/

/*Section da segunda tela*/
#pag2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00235C;
}

/*Estilo do titulo*/
.titulopag2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

/*Estilo do texto*/
.textopag2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    width: 561px;
    height: 160px;
}

/*Largura do article*/
.escritaspag2 {
    width: 630px;
}

/*-------Terceira pagina (pagina3)--------*/

/*Estilo da section da terceira tela*/
.pag3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #116CFF;
    color: #FFFFFF;
}

/*Estilo do titulo*/
.titulopag3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

/*Estilo do texto*/
.textopag3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    width: 526px;
    height: 120px;
    color: #FFFFFF;
}

/*Largura e margem do article*/
.escritaspag3 {
    width: 570px;
    margin-right: 38px;
}

/*-------Quarta pagina (pagina4)--------*/

/*Estilo da section da quarta tela*/
#pag4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FFFFFF;
}

/*Containeir da esquerda com posição relativa para a implementação do titulo que irá sobrepor o mesmo espaço*/
.containeresquerda {
    position: relative;
}

/*Classe utilizada para o alinhamento das imagens e o espaçamento entre os balões*/
.row {
    display: flex;
    flex-direction: row;
    margin-right: 74.34px;
    margin-top: 22px;
}

/*Posição absoluta para a implementação dentro do container da esquerda que tem a posição relativa*/
.titulopag4 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #116CFF;
    margin-top: -60px;
    margin-left: 35.93px;
}

/*Dimensões das imagens das crianças*/
.img {
    width: 65.45px;
    height: 64.1px;
    margin-right: 30.27px;
    margin-left: 35.93px;
}

/*Dimensão do conteudo dentro do balão*/
.conteudo {
    width: 392px;
    margin-left: 24px;
    margin-top: 8px;
}

/*Estilo das escritas dos nomes*/
.nome {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #00235C;
}

/*Estilo das escritas dos textos dentro dos baloes*/
.textopag4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25.41px;
    width: 392px;
    color: #00235C;
}

/*Span para as aspas e a letra A do segundo balao*/
span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FF463A;
}

/*Estilo dos Balões*/
.balao {
    position: relative;
    width: 440px;
    height: 187px;
    border-radius: 20px;
    background: #FFE6E5;
}

/*Balõess azuis*/
.azul {
    background: #E7F0FF;
}

/*Seta dos balões*/
.balao::after {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    border-top: 8.7px solid transparent;
    border-bottom: 8.7px solid transparent;
    color: #FFE6E5;
}

/*Seta dos balões azuis*/
.azul::after {
    color: #E7F0FF;
}

/*Setas apontadas para a esquerda*/
.containeresquerda .balao::after {
    left: -20.66px;
    border-right: 20.66px solid;
}

/*Setas apontadas para a direita*/
.containerdireita .balao::after {
    left: 439.66px;
    border-left: 20.66px solid;
}

/*--------Quinta pagina (pagina5)---------*/

/*Estilo da section da quinta tela*/
#pag5 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
}

/*Estilo do titulo*/
.titulopag5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
    margin-right: 994px;
}

/*Estilo da tabela*/
table {
    margin-top: 52px;
    width: 1166px;
    height: 374px;
    border-collapse: collapse;
}

/*Estilo da escrita no cabeçalho da tabela*/
.escritadotopopag5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #00235C;
    margin-left: 24px;
}

/*Estilo das estrelas no cabeçalho da tabela*/
.estrelasdotoppag5 {
    margin-left: 22px;
}

/*Estilo das escritas no cabeçalho da tabela*/
.textpag5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #00235C;
}

/*Estilo do botao detail class no cabeçalho da tabela*/
.botaodetailpag5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    width: 135px;
    height: 50px;
    background: #116CFF;
    border-radius: 10px;
}

/*Estilo das escritas no corpo da tabela*/
.escritapag5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #116CFF;
}

/*Estilo dos valores no corpo da tabela*/
.valorpag5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #00235C;
}

/*Cor do valor FREE*/
.free {
    color: #FF463A;
}

/*Estilo do botao new*/
.botaonew {
    width: 47px;
    height: 25px;
    background: #FFE6E5;
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FF463A;
}

/*Cor e altura do cabeçalho da tabela*/
th {
    background: rgba(255, 255, 255, 0.8);
    height: 115px;
}

/*Cor do corpo da tabela*/
tbody {
    background-color: white;
}

/*Borda no cabeçalho*/
.pripag5 {
    border-radius: 10px 0px 0px 0px;
}

/*Borda no cabeçalho*/
.quapag5 {
    border-radius: 0px 10px 0px 0px;
}

/*--------Sexta pagina (pagina6)---------*/

/*Estilo da section da sexta tela*/
#pag6 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Remoção da borda do fieldset*/
fieldset {
    border: 0;
}

/*Container para o titulo e imagens*/
.containerpag6 {
    display: flex;
    margin-top: 4px;
}

/*Medida da estrela de cima*/
.cima {
    height: 94px;
}

/*Medida da estrela de baixo e distancia do topo*/
.baixo {
    height: 59px;
    margin-top: 88px;
}

/*Estilo do titulo*/
.titulopag6{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    width: 411px;
    color: #00235C;
    margin-top: 60px;
    margin-right: 38px;
    margin-left: 28px;
    text-align: center;
}

/*Estilo das escritas das tags label*/
.campo label{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #00235C;
}

/*Estilo dos campos a serem preenchidos*/
.campo input {
    width: 394px;
    height: 52px;
    border: 1px solid #BCD6FF;
    box-sizing: border-box;
    border-radius: 10px;
}

/*Distancia entre o conteudo do fieldset*/
fieldset .campo {
    margin-top: 35px;
}

.email {
    margin-right: 101px;
}

.parents {
    margin-right: 35px;
}

.kidname {
    margin-right: 60px;
}

.class {
    margin-right: 100px;
}

/*Estilo do botao register*/
.botpag6 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

    width: 200px;
    height: 52px;
    background: #116CFF;
    border-radius: 10px;
    border: none;
    margin-top: 48px;
    margin-left: 346px;
}

/*Circulo entre a imagem do headset*/
.circulo {
    display: flex;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 2px solid #FF463A;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 1185px;
}

/*Estilo da imagem do icone de headset*/
.headset {
    position: absolute;
    width: 24px;
    height: 24px;
}

/*Estilo do botao que fica entre o circulo do icone de headset*/
.bothead {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    width: 139px;
    height: 30px;
    background: #FF463A;
    border: 2px solid #FF463A;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 71px;
}

/*---------Footer--------*/

/*Estilo do footer*/
.rodapetopo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #116CFF;
}

/*Estilo das palavra do rodapé*/
.rodapetext {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-top: 30px;
    color: #FFFFFF;
}

/*Imagem de fundo na parte esquerda*/
.rodapefundo {
    position: absolute;
}

/*Logo do rodapé*/
.rodapelogo {
    margin-top: 44px;
    border: 1px solid #FFFFFF;
}

/*Distancia do topo dos icones*/
.rodapeicons {
    margin-top: 30px;
}

/*Distancia entre os icones*/
.imgiconrod {
    margin-right: 36px;
}

/*Estilo da tag footer*/
.fot {
    display: flex;
    align-items: center;
    background: #00235C;
    height: 363px;
}

/*Estilo do container da esquerda*/
.rodapecont {
    margin-left: 100px;
    width: 377px;
    margin-right: 164px;
}

/*Estilo do container da direita*/
.rodapecont2 {
    display: flex;
    width: 625px;
}

/*Distancia das colunas do container da direita*/
.company {
    margin-right: 52px;
    
}

.ourclass {
    margin-right: 52px;
    
}

.information {
    margin-right: 52px;
    
}

.rodapetext {
    margin-top: 30px;
}